@font-face
{
	font-family:headingFont;
	src:url(fonts/lane_nar.ttf);
}

@font-face
{
	font-family:introFont;
	src:url(fonts/alexbrush.ttf);
}

body
{
	font-family:headingFont;
	font-weight:lighter;
	background-image:url("photos/Background.jpg");
	background-size:100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}

#head
{
	background-color:white;
	padding-top:30px;
	padding-left:50px;
	padding-bottom:100px;
	color:black;
	font-size:5em;
	margin:auto;
	width:100%;
	height:50px;
	top:0px;
	left:0px;
	right:0px;
	position:fixed;
	border-bottom:1px solid black;
	z-index:1;
}

#frontpageIntro
{	
	background-color:white;
	opacity:.6;
	font-size:2em;
	position:absolute;
	top:200px;
	margin-left:38%;
	padding:15px;
	padding-bottom:3px;
	margin-right:1%;
	border:3px solid black;
	font-family:introFont;
}

#contactPhoto
{
	position:absolute;
	top:200px;
	left:100px;
}

.nav
{
	width:800px;
	margin:0px;
	padding:0px;
	text-align:center;
	font-size:1.8em;
	position:fixed;
	top:50px;
	left:35%;
	z-index:1;
	list-style-type:none;
	background-color:white;
}

.projects
{
	position:absolute;
	top:200px;
	margin-right:10%;
}

.projectDesc
{
	margin-top:30px;
	font-size:1.3em;
	margin-bottom:50px;
}

.projectLine
{

}

#contactMessage
{
	position:absolute;
	margin-left:31%;
	margin-right:31%;
	top:300px;
	font-size:3em;
	text-align:center;
}

#contactMail
{
	position:absolute;
	top:500px;
	margin-left:17%;
	margin-bottom:50px;
}

#contactRes
{
	position:absolute;
	top:500px;
	margin-left:37%;
	margin-bottom:50px;
}

#contactFb
{
	position:absolute;
	top:500px;
	margin-left:57%;
	margin-bottom:50px;
}

#contactLine
{
	margin-top:450px;
	margin-left:12%;
	margin-right:14%;
}

#resumeMessage
{
	position:absolute;
	top:250px;
	margin-left:15%;
	margin-right:15%;
	font-size:3em;
	text-align:center;
}

#resumeButton
{
	position:absolute;
	top:400px;
	color:rgb(50,50,50);
	font-size:1.3em;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	border:3px solid rgb(50,50,50);
	text-decoration:none;
	margin-left:42%;
	margin-right:42%;
	margin-top:50px;
	width:193px;
}

li
{
	display:inline-block;
}

.photos
{
	position:absolute;
	margin-left:5%;
	margin-bottom:3%;
	z-index:-1;
}

.photoDesc
{
	font-size:1.5em;
}

.stack img 
{
	background-color:white;
	max-width: 100%; height: auto; vertical-align: bottom; border: 10px solid #fff; border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.stack:before, .stack:after
{
	background-color:white;
	content: ""; border-radius: 3px; width: 100%; height: 100%; position: absolute; border: 10px solid #fff; left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.stack.rotated:before
{ 
    background-color:white;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);
}

.stack.rotated:after
{ 
    background-color:white;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}

.stack.twisted:before
{
    background-color:white;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
} 

.stack.twisted:after
{
    background-color:white;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.stack.twisted.last:before
{
    background-color:transparent;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
} 

.stack.twisted.last:after
{
	background-color:transparent;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.stack.twisted.last:hover:before, .stack.twisted.last:hover:after 
{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

.stack.rotated-left:before
{
    background-color:white;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.stack.rotated-left:after
{
    background-color:white;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

.stack:before { top: 4px; z-index: -10; } /* 1st element in stack (behind image) */
.stack:after { top: 8px; z-index: -20; } /* 2nd element in stack (behind image) */

#aboutHeader
{
	position:absolute;
	left:40%;
	margin-right:10%;
	top:275px;
}

#aboutFamily
{
	position:absolute;
	top:1100px;
	margin-left:5%;
}

#aboutBass
{
	position:absolute;
	top:1750px;
	margin-right:5%;
	left:55%;
}

#aboutPV
{
	position:absolute;
	top:2400px;
	margin-left:5%;
}

#aboutSnow
{
	position:absolute;
	top:3100px;
	left:50%;
	margin-right:5%;
}

#aboutDance
{
	position:absolute;
	top:3850px;
	margin-left:5%;
}

#aboutTaiwan
{
	position:absolute;
	top:4600px;
	margin-left:45%;
	margin-right:5%;
}

#aboutFriends1
{
	position:absolute;
	top:5200px;
	margin-left:5%;
}

#aboutFriends2
{
	position:absolute;
	top:5750px;
	left:55%;
	margin-right:5%;
}

#aboutLast
{
	position:absolute;
	top:6140px;
	left:30%;
	margin-right:30%;
}

a#aboutToContact:link,
a#aboutToContact:visited
{
	-webkit-transition: all .7s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.7s ease-out;  /* FF4+ */
      -ms-transition: all 0.7s ease-out;  /* IE10 */
       -o-transition: all 0.7s ease-out;  /* Opera 10.5+ */
          transition: all 0.7s ease-out;
}

a#aboutToContact:hover,
a#aboutToContact:active
{
	opacity:0;
}

a#resumeButton:link,
a#resumeButton:visited
{
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

a#resumeButton:hover,
a#resumeButton:active
{
	color:white;
	border:3px solid black;
	background-color:black;
}

a.contact:link,
a.contact:visited
{
	color:rgb(50,50,50);

	-webkit-transition: all 0.5s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.5s ease-out;  /* FF4+ */
      -ms-transition: all 0.5s ease-out;  /* IE10 */
       -o-transition: all 0.5s ease-out;  /* Opera 10.5+ */
          transition: all 0.5s ease-out;
}

a.contact:hover,
a.contact:active
{
	color:black;
}

a.navlinks:link,
a.navlinks:visited
{
	color:black;
	text-decoration:none;
	background-color:white;
	text-align:center;
	padding-top:55px;
	padding-bottom:48px;
	text-transform:none;
	margin:0px;

	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;

}

a.navlinks:hover,
a.navlinks:active
{
	text-decoration:none;
	background-color:rgb(240,240,240);
}